.content-page {
  margin-top: 160px;
  margin-bottom: 40px;
}


.swiper-button-next, .swiper-button-prev {
  color: #83BF6E !important;
}

.MuiModal-root {
  z-index: 4200 !important;
}

div[aria-labelledby="modal-custom"] .MuiBackdrop-root {
  background-color: #f4f4f403 !important;
  transition: all .2s ease !important;
}

:focus-visible{
  outline: none !important
}