@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width:1024px) {
    body,
    html {
        font-size: 14px
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (min-width:1680px) {
    .container {
        width: 1660px;
        max-width: 1660px
    }
}
@media screen and (max-width:1679px) {
    .container {
        width: 1580px;
        max-width: 1580px
    }
}
@media screen and (max-width:1599px) {
    .container {
        width: 1500px;
        max-width: 1500px
    }
}
@media screen and (max-width:1535px) {
    .container {
        width: 1400px;
        max-width: 1400px
    }
}
@media screen and (max-width:1439px) {
    .container {
        width: 1330px;
        max-width: 1330px
    }
}
@media screen and (max-width:1365px) {
    .container {
        width: 1240px;
        max-width: 1240px
    }
}
@media screen and (max-width:1279px) {
    .container {
        width: 990px;
        max-width: 990px
    }
}
@media screen and (max-width:1023px) {
    .container {
        width: 98%;
        max-width: 98%
    }
}
html {
  min-height: 100vh;
}